USE [master]
GO
/****** Object:  Database [IMS]    Script Date: 22-06-2014 18:38:06 ******/
CREATE DATABASE [IMS] ON  PRIMARY 
( NAME = N'IMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLSERVEREXPRESS\MSSQL\DATA\IMS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLSERVEREXPRESS\MSSQL\DATA\IMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMS]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 22-06-2014 18:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [bigint] NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
	[isDiscontinued] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerDetails]    Script Date: 22-06-2014 18:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerDetails](
	[CustomerId] [bigint] NOT NULL,
	[CustomerName] [varchar](50) NOT NULL,
	[Address] [varchar](125) NULL,
	[Deposit] [bigint] NULL,
	[LastName] [varchar](50) NULL,
	[PhoneNumber] [varchar](12) NULL,
	[EmailId] [varchar](50) NULL,
	[Balance] [bigint] NULL,
 CONSTRAINT [PK_CustomerDetails] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DailyPurchases]    Script Date: 22-06-2014 18:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DailyPurchases](
	[CustomerId] [bigint] NOT NULL,
	[PurchaseDate] [datetime] NOT NULL,
	[PurchaseTime] [time](7) NOT NULL,
	[BillDescription] [varchar](500) NULL,
	[UserPayment] [bigint] NULL,
	[BillAmount] [bigint] NOT NULL,
 CONSTRAINT [PK_DailyPurchases] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC,
	[PurchaseDate] ASC,
	[PurchaseTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 22-06-2014 18:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [bigint] NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[ProductName] [varchar](100) NOT NULL,
	[isDiscontinued] [bit] NOT NULL,
	[Quantity] [bigint] NOT NULL,
	[Product Details] [varchar](500) NULL,
	[Cost] [bigint] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserPayment]    Script Date: 22-06-2014 18:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserPayment](
	[CustomerId] [bigint] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentTime] [time](7) NOT NULL,
	[PaymentMethod] [varchar](1001) NOT NULL,
	[Amount] [bigint] NOT NULL,
 CONSTRAINT [PK_UserPayment] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC,
	[PaymentDate] ASC,
	[PaymentTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_isDiscontinued]  DEFAULT ((0)) FOR [isDiscontinued]
GO
ALTER TABLE [dbo].[CustomerDetails] ADD  CONSTRAINT [DF_CustomerDetails_Balance]  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[DailyPurchases] ADD  CONSTRAINT [DF_DailyPurchases_UserPayment]  DEFAULT ((0)) FOR [UserPayment]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_isDiscontinued]  DEFAULT ((0)) FOR [isDiscontinued]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Count]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Cost]  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Categories]
GO
USE [master]
GO
